*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container{
  width: auto;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.item{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 372px;
  cursor: pointer;
}

.discount{
  position: absolute;
  top: 0;
  right: 0;
}

.meno-trenta{
  background: green;
}

.meno-cinque{
  background: red;
}

.favorite{
  position: absolute;
  left: 50%;
  bottom: 0;
  color: red;
  display: none;
  font-size: 25px;
}

.item:hover .favorite{
  display: block;
}
